@font-face {
  font-family: "LS";
  src: url("./vctr.woff2");
  font-weight: 100 700;
  font-display: block;
}

html {
  color: #aaa;
  background: black;
  font-family: "LS";
  font-smooth: always;
  font-size: 90%;
  line-height: 1.33;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  color: inherit;
}

@keyframes fade {
  to {
    opacity: 1;
  }
}

@keyframes slide {
  to {
    transform: scale(1);
  }
}

section,
figure {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#bg {
  opacity: 0;
  animation-name: fade;
  animation-duration: 1.66s;
  animation-fill-mode: forwards;
  min-height: 500px;
  height: 100vh;
  height: 100svh;
  width: 100%;
}

#bg figure,
#bg section {
  min-height: 500px;
  height: 100vh;
  height: 100svh;
  width: 100%;
}

#ex {
  /* transform: scale(1.2); */
  /* animation-name: slide; */
  animation-duration: 0.66s;
  animation-fill-mode: forwards;
}

.split {
  font-size: 90%;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
}

.split div {
  flex: 1 1 100%;
}

.split ul {
  margin-bottom: 3rem;
}

.split li {
  margin-bottom: 0.5rem;
}

@media (orientation: landscape) {
  .split {
    flex-wrap: nowrap;
  }
  .split ul {
    max-width: 80%;
  }
  .split div {
    flex: 1 1 50%;
  }
}

hr {
  margin: 0;
  background: transparent;
  padding: 2rem 0;
  border: none;
  height: 1px;
  clear: both;
}

footer {
  font-size: 80%;
  text-align: center;
  padding: 1rem;
  margin: 6rem 0;
}

footer p {
  display: block;
  margin: 0.25rem auto;
}

ul,
ol {
  padding: 0;
  margin: 0 0 1rem;
  list-style: none;
}

strong {
  color: white;
}

h1,
h2,
h3 {
  color: white;
}

h2 {
  margin: 4rem 0 0;
  color: #aaa;
  text-align: center;
}

h3 {
  margin-top: 3rem;
}

h3 span {
  color: lime;
  opacity: 0;
  animation-name: fade;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-duration: 2s;
}

h4 {
  margin-top: 0;
}

p {
  max-width: 450px;
  display: inline-block;
}

.xxx video,
.xxx img {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  object-fit: cover;
  mix-blend-mode: screen;
}

.xxx {
  height: 66vw;
  width: 0%;
  will-change: width;
  position: relative;
  background: linear-gradient(
    15deg,
    #cf49ff 10%,
    #00d0ff 25%,
    rgb(153, 0, 0) 48%
  );
  background-attachment: fixed;
  mix-blend-mode: screen;
  margin-right: 1rem;
}

@media (orientation: landscape) {
  .xxx {
    float: left;
    height: 33vw;
  }
}

.xxx::after {
  content: "";
  width: 100%;
  height: 100%;
  top: 0;
  position: absolute;
  background-image: url("/texture.webp");
  background-size: cover;
  mix-blend-mode: darken;
  opacity: 0.2;
}

. @keyframes progress {
  0%,
  100% {
    width: 30%;
  }

  80%,
  90% {
    width: 95%;
  }
}

a {
  color: white;
}

a:hover,
a:focus {
  color: yellow;
  outline: none;
}

a[target="_blank"]:after {
  content: "↑";
  transform: rotate(45deg);
  display: inline-block;
  margin: 0 0.125em 0 0.33em;
  color: yellow;
}

#logos {
  display: flex;
  gap: 3em;
  margin: 0;
  flex-wrap: wrap;
  padding: 2rem 1rem;
  border-top: 1px solid #333;
  border-bottom: 1px solid #333;
  align-items: center;
  justify-content: space-around;
}

#logos svg {
  max-width: 100px;
  max-height: 80px;
  height: auto;
  background: none;
  padding: 0;
  margin: 0;
}
